language: node_js
node_js:
- '8'
env:
  global:
  - GH_USER_EMAIL="travis@example.org"
  - GH_USER_NAME="cozy-bot"
  - DEPLOY_REPOSITORY="git@github.com:konnectors/justeat.git"
  - secure: nitKlPOjR+nDUPvHktAfbWXzcujiwF8eTNG7LBpykag6DcVbDmi9Skahze6pctvSa3o62UsZmNM3qovyAbkFu9dF1X19jK3IQHLug91u0h74npgpGaocR/4bWpLyacfcNFVLPCGMv2bwh8oN91LvlaHLGpSIkUDXuo3QxRFSjnUuoIvUKt5pGTf0vMP49Vy21l+0r4eDaVeYdcHW2IhzGKYPfGarhPMvYq4I1QVLrFtIhZIZbOGkqmAPKAtwICwR5JKBWEuGDb3DWXIhHahUxPPAAPT4BlVKeK5CJScExnBWzV2XWDcFQB+lxu6XpBOxAQdAMn3TxO5JC/Ek4Sst9iWYCc1Zec4Qe3KVou1Yn9u8Rpckc+OeyMd0oqhP5EA3OqepHkRV+Gf9lqKe1lxipPTSm67Ic+r9BtF/baAfGJzCFzYrdjap1aGMnkcDD6skNeu2mfYVaoRMVLz4Q+c4HUjdwTZtxAsM+lbNBbyRVi9vkepNCRRRK9RcFILsG5VC7gQmPQJF98q/rV+ZQULHrrLZtaR9X+I3R5aHJBkx3vTnnWYiACySBuM0OBOpoiiwr2Rv/MJFxhhO6ybh9zOPrRr5HLug9rre35y+9ACXaJi0V/pfHsxAxaXcEtihk5qtvNgFNvhrpnjQwXAeGsMNPoVtXpOmeUkpkqTBtshcRwg=
cache:
  yarn: true
  directories:
  - node_modules
branches:
  except:
  - build
  - latest
script:
- yarn lint
- yarn build
- yarn run check
deploy:
- provider: script
  skip-cleanup: true
  script: DEPLOY_BRANCH=build yarn deploy && yarn cozyPublish
  on:
    branch: master
- provider: script
  skip-cleanup: true
  script: DEPLOY_BRANCH=build yarn deploy && yarn cozyPublish
  on:
    tags: true
before_install:
- openssl aes-256-cbc -K $encrypted_a8e1e885122a_key -iv $encrypted_a8e1e885122a_iv
  -in github_deploy_key.enc -out /tmp/github_deploy_key -d
- eval "$(ssh-agent -s)"
- chmod 600 /tmp/github_deploy_key
- ssh-add /tmp/github_deploy_key
after_deploy:
- rm /tmp/github_deploy_key
- ssh-add -D
